.wrap{
      width: 1000;
      margin: auto;
      margin-top: 40px;
}
.cardd{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
      transition: 0.4s;
      width: 300px;
      background: #fff;
      text-align: center;
      font-size: 16px;
      font-family: sans-serif;
      float: left;
      margin: 10px;
      border-radius: 20px 20px 20px 20px;
      border: 03px solid rgb(59, 59, 59);
      align-self: center;
}
.navbarr{
      background-color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding-right: 15px;
      height: 50px;
      padding-left: 15px;
}

.card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
      border-radius: 20px 20px 20px 20px;
      border: 03px solid rgb(59, 59, 59);
      transition: 0.4s;
      width: 300px;
      background: #fff;
      text-align: center;
      font-size: 16px;
      font-family: sans-serif;
      float: left;
      margin: 10px;
}
.button{
            color: black;
            border-radius:5px ;
            width: 200;
            height: 70;
            cursor: pointer;
            font-size: 20px;
            font-family: sans-serif;
}
.head{
      background-color: gray;
}
.heading{
      color: lime;
      background-color: gray;
}
.navbar{
      background-color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      padding-right: 15px;
      padding-left: 15px;
}
.navdiv{
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.logo a{
      font-size: 55px; 
      font-weight: 600;
      color: white;
}
.listt{
      list-style: none; 
      display: inline-block;
}
li a{
      color: white;
      font-size: 25;
      font-weight: bold;
      margin-right: 25px;
}

*{
      margin: 0px;
      padding: 0px;
}
.main{
      width: 400;
      height: 20;
      border: 03px solid black;
      background-color: white;
      padding: 08px;
      border-radius: 30px;
      margin-top: 0;
}
input{
      background: transparent;
      border: 0px;
      outline: 0px;
      width: 390px;
}
.icon-search{
      color: black;
      font-size: 500;
      margin-left: 785;
      margin-top: -30;
}
.main {
      text-align: center;
      margin: 2rem;
    }
    
    /* what you need */
    
    #searchbar{ 

         width: 430;
      height: 42;
      border: 03px solid black;
      background-color: white;
      padding: 08px;
      border-radius: 30px;
      margin-top: 0;
      list-style: none;
      display: inline;
      display: inline-block;
       } 
     
       input[type=text] { 
          width: 30%; 
          -webkit-transition: width 0.15s ease-in-out; 
          transition: width 0.15s ease-in-out; 
       } 
     
       /* When the input field gets focus, 
            change its width to 100% */
       input[type=text]:focus { 
         width: 70%; 
       } 
     
      #list{ 
        font-size:  1.5em; 
        margin-left: 90px;
       } 
     
    .animals{ 
       display: inline-block;     
       list-style: none;
      }
.cardimg{
      width: 300;
      height: 170;
      border-radius: 20px;
      
}